<h2>Search Series</h2>

<%- include('../partials/searchOptions.ejs', { url: "/series" }) %>

<div class="row">
  <div class="offset-by-one-third one-third column">
    <ul>
      <% series.forEach(series => { %>
      <li><a href="/series/<%= series.id %>"><%= series.name %></a></li>
      <% }) %>
    </ul>
  </div>
</div>
