<h2>New Series</h2>

<form action="/series" method="POST">
  <div class="row">
    <div class="offset-by-one-third one-third column">
      <%- include('_form.ejs') %>
      <a class="button" href="/series">Cancel</a>
      <button type="submit">Create</button>
    </div>
  </div>
</form>
