<h2><%= series.name %></h2>
<%- include('../partials/adminButtons.ejs', { url: `/series/${series.id}` }) %>
<% if (books.length > 0) { %>
<h3>Books in Series</h3>
<%- include('../partials/booksList.ejs') %> <% } %>
