<% if (locals.errorMessage != null) { %>
<div class="alert text-center" role="alert"><%= errorMessage %></div>
<% } %> <% if (messages.error) { %>
<div class="alert"><%= messages.error %></div>
<% } %>
