<footer>
  <div class="row">
    <div class="four columns">Username</div>
    <div class="four columns">
      Level
    </div>
    <div class="four columns">
      Added on 
    </div>
  </div>
</footer>