<header>
  <h1>
    <a href="/">Readerporium</a>
  </h1>
  <nav role="group">
    <a href="/books" class="button">
      <i class="fa-solid fa-book fa-lg"></i>
    </a>
    <a href="/books/new" class="button">
      <i class="fa-solid fa-book fa-lg"></i>
      <i class="fa-solid fa-plus fa-lg"></i>
    </a>
    <a href="/authors" class="button">
      <i class="fa-solid fa-users fa-lg"></i>
    </a>
    <a href="/authors/new" class="button">
      <i class="fa-solid fa-users fa-lg"></i>
      <i class="fa-solid fa-plus fa-lg"></i>
    </a>
  </nav>
</header>
