<header>
  <h1>
    <a href="/">Readerporium</a>
  </h1>
  <nav role="group">
    <a href="/books" class="button">
      <i class="fa-solid fa-book fa-lg"></i>
    </a>
    <a href="/authors" class="button">
      <i class="fa-solid fa-users fa-lg"></i>
    </a>
    <a href="/series" class="button">
      <i class="fa-solid fa-list-ol fa-lg"></i>
    </a>
    <a href="/tags" class="button">
      <i class="fa-solid fa-tag fa-lg"></i>
    </a>
    <a href="/logout" class="button">
      <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
    </a>
  </nav>
</header>
