<div class="row">
  <div class="offset-by-three six columns">
    <form action="<%= url %>" method="GET">
      <input
        class="u-full-width"
        type="text"
        name="name"
        value="<%= searchOptions.name %>"
      />
      <div class="text-center">
        <button type="submit">
          <i class="fa-solid fa-search fa-lg"></i>
        </button>
      </div>
    </form>
  </div>
</div>
