{% extends 'base.html' %} {% block title %}Authors{% endblock %} {% block content %}
<div class="row">
	<div class="offset-by-one-third one-third column">
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
		  <tbody>
		    {% for author in authors %}
		    <tr>
		      <td>
		        <a href="{{ url_for('authors') }}/{{ author.id }}">
		        	<i class='fa-solid fa-user'></i>
		        	{{ author.name }}
		      	</a>
		      </td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>
</div>
{% endblock %}
