{% extends 'base.html' %} {% block title %}Authors{% endblock %} {% block content %}
<div class="row">
	<div class="offset-by-one-third one-third column">
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
		  <tbody>
		    {% for author in authors.items %}
		    <tr>
		      <td>
		        <a href="{{ url_for('authors') }}/{{ author.id }}">
		        	<i class='fa-solid fa-user'></i>
		        	{{ author.name }}
		      	</a>
		      </td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
		<!-- Pagination Links-->
		<div class="u-pull-right">
			{% if authors.has_prev %}
		  <a href="{{ url_for('authors', page=authors.prev_num) }}" class="button">
				<i class="fa-solid fa-angles-left"></i>
		  </a>
		  {% endif %}{% if authors.has_next %}
		  <a href="{{ url_for('authors', page=authors.next_num) }}" class="button">
		  	<i class="fa-solid fa-angles-right"></i>
		  </a>
		  {% endif %}
		</div>
		<p>
			Page {{ authors.page }} of {{ authors.pages }}
		</p>
	</div>
</div>

{% endblock %}
