{% extends 'base.html' %} {% block title %}Reading Level: {{ title }}{% endblock %} {% block content %}
<table class="u-full-width">
	<thead>
		<tr>
			<th>Title</th>
			<th>Series</th>
		</tr>
	</thead>
  <tbody>
    {% for book in books.items %}
    <tr>
      <td>
        <a href="{{ url_for('books') }}/{{ book.id }}">
	        <i class='fa-solid fa-book'></i>
        	{{ book.title }} by {{ book.author.name }}
      	</a>
      </td>
      <td>
      	<a href="{{ url_for('series') }}/{{ book.series.id }}">
      		<i class="fa-solid fa-list-ol"></i>
      		{{ book.series.name }} #{{ book.series_index }}
      	</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Pagination Links-->
<div class="u-pull-right">
	{% if books.has_prev %}
  <a href="?page={{ books.prev_num }}" class="button">
		<i class="fa-solid fa-angles-left"></i>
  </a>
  {% endif %}{% if books.has_next %}
  <a href="?page={{ books.next_num }}" class="button">
  	<i class="fa-solid fa-angles-right"></i>
  </a>
  {% endif %}
</div>
<p>
	Page {{ books.page }} of {{ books.pages }}
</p>
{% endblock %}
