{% extends 'base.html' %} {% block title %}Publishers{% endblock %} {% block content %}
<div class="row">
	<div class="offset-by-one-third one-third column">
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
		  <tbody>
		    {% for publisher in publishers.items %}
        <tr>
          <td>
            <a href="{{ url_for('publishers') }}/{{ publisher.id }}">
            	<i class='fa-solid fa-building'></i>
            	{{ publisher.name }}
          	</a>
          </td>
        </tr>
        {% endfor %}
		  </tbody>
		</table>
		<!-- Pagination Links-->
		<div class="u-pull-right">
			{% if publishers.has_prev %}
		  <a href="{{ url_for('publishers', page=publishers.prev_num) }}" class="button">
				<i class="fa-solid fa-angles-left"></i>
		  </a>
		  {% endif %}{% if publishers.has_next %}
		  <a href="{{ url_for('publishers', page=publishers.next_num) }}" class="button">
		  	<i class="fa-solid fa-angles-right"></i>
		  </a>
		  {% endif %}
		</div>
		<p>
			Page {{ publishers.page }} of {{ publishers.pages }}
		</p>
	</div>
</div>
{% endblock %}
