{% extends 'base.html' %} {% block title %}Series{% endblock %} {% block content %}
<div class="row">
	<div class="offset-by-one-third one-third column">
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
		  <tbody>
	      {% for series in series.items %}
	      <tr>
	        <td>
	          <a href="{{ url_for('series') }}/{{ series.id }}">
	          	<i class='fa-solid fa-list-ol'></i>
	          	{{ series.name }}
	        	</a>
	        </td>
	      </tr>
	      {% endfor %}
	    </tbody>
		</table>
		<!-- Pagination Links-->
		<div class="u-pull-right">
			{% if series.has_prev %}
		  <a href="{{ url_for('series', page=series.prev_num) }}" class="button">
				<i class="fa-solid fa-angles-left"></i>
		  </a>
		  {% endif %}{% if series.has_next %}
		  <a href="{{ url_for('series', page=series.next_num) }}" class="button">
		  	<i class="fa-solid fa-angles-right"></i>
		  </a>
		  {% endif %}
		</div>
		<p>
			Page {{ series.page }} of {{ series.pages }}
		</p>
	</div>
</div>
{% endblock %}
