<h2>Recently Added</h2>
<div>
  <% books.forEach(book => { %>
  <a class="cover" href="/books/<%= book.id %>">
    <img
      src="<%= book.coverImagePath %>" 
      alt="cover"
      <% if (book.accessLevel == 4) { %>class="blur"<% } %>
    />
  </a>
  <% }) %>
</div>
