html, body { height: 100%; }
body { font-size: 1.8rem; }
.container { min-height: 100%; }
header { text-align: center; padding-top: 2rem; margin-bottom: 4rem; }
header h1 a { text-decoration: none; line-height: 1.5; letter-spacing: -.05rem; }
h2 { text-align: center; }
.alert { margin-bottom: 2rem; padding: 25px 15px; border: 1px solid #bbb; border-radius: 5px; }

figure { position: relative; display: inline-block; margin: 0; }
figure img { width: 100%; height: 100%; opacity: 0.05; transition: 0.5s ease-in-out; }
figure:hover img { opacity: 1; transition: 0.5s ease-in-out; }
figcaption {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  width: 75%;
}
figure:hover figcaption { opacity: 0; transition: 0.5s ease-in-out; }
img { border-radius: 5px; }
a.cover { text-decoration: none; }

form textarea { height: 236px; }
form #tags { min-height: 100px; }
p#tags a:not(:last-child) { padding-right: 0.5em; }

.text-center { text-align: center; }

footer {
  margin-top: 5em;
  width: 100%;
  text-align: center;
}

@media (min-width: 400px) { figure { max-width: 49%; } }

@media (min-width: 650px) { figure { max-width: 32.5%; } }

@media (min-width: 950px) { figure { max-width: 24%; } }

@media (min-width: 1200px) { figure { max-width: 19.5%; } }
