body { background-color: #fffdd0; }
.header { margin: 2% 0; }
h1, h2, h3 { text-align: center; margin-bottom: 4rem; }

a { color: #00008b; }
a:hover { color: #0000cd; }
  
.content { clear: both; }

img { border-radius: 10px; }

tr:first-child, tr:not(:last-child) { border-bottom: 1px solid #222; }
th, td {
	background-color: #fdfd96;
  border-bottom: none;
	padding: 12px 15px; }
th:first-child, td:first-child { padding-left: 1rem; }
th:last-child, td:last-child { padding-right: 1rem; }
th:first-of-type { border-top-left-radius: 10px; }
th:last-of-type { border-top-right-radius: 10px; }
tr:last-of-type td:first-of-type { border-bottom-left-radius: 10px; }
tr:last-of-type td:last-of-type { border-bottom-right-radius: 10px; }

th {
	border-top: none;
	text-align: center;
	text-transform: uppercase; }
td a { font-weight: 600; text-decoration: none; }
.users tr td { text-align: center; }
.list td:last-child { text-align: right; }

i { padding: 2px; }
.button i { font-size: 1.25em; }

form textarea { height: 236px; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #222;
  background-color: #fdfd96;
  border-color: #222;}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: #fdfd96;
  border-color: #222; }

.navbar, .btn-group { margin: 0 auto; text-align: center; }
.btn-group {
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%); }
.navbar .button, .btn-group .button {
	padding: 0 15px;
	float: left;
  border-radius: 0; }
.navbar .button:not(:last-child), .btn-group .button:not(:last-child) { border-right: none; }
.navbar .button:first-child, .btn-group .button:first-child {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; }
.navbar .button:last-child, .btn-group .button:last-child {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px; }
.navbar:after, .btn-group:after {
  content: "";
  clear: both;
  display: table; }

.alert, .meta, .footer {
	margin-bottom: 2rem;
  padding: 25px 15px;
  background-color: #fdfd96;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid; }
.alert { text-align: center; }
.footer { margin-top: 6rem; }

hr { border-color: #222; }