img.lazy {
  opacity: 0;
}
img:not(.initial) {
  transition: opacity 1s;
}
img.initial,
img.loaded,
img.error {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}
img.blur {
  filter: blur(8px);
  transition: 0.5s ease-in-out;
}
img.blur:hover {
  filter: blur(0);
  transition: 0.5s ease-in-out;
}