{% extends 'base.html' %}{% block title %}Add Books{% endblock %} {% block content %}
<form METHOD="POST">
  <div class="row">
    <div class="six columns">
      <label for="title">Title</label>
      <input class="u-full-width" type="text" name='title'>
    </div>
    <div class="six columns">
      <label for="author">Author</label>
      <select name='author' class="u-full-width">
				{% for author in authors %}
        <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <label for="series">Series</label>
      <select name="series" class="u-full-width">
        {% for series in series %}
        <option value="{{ series.id }}">{{ series.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="two columns">
      <label for="series_index">#</label>
      <input name="series_index" type="text" class="u-full-width" />
    </div>
    <div class="two columns">
      <label for="level">Level</label>
      <select name="level" class="u-full-width">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="two columns">
      <label for="wordcount">Word Count</label>
      <input name="wordcount" type="number" class="u-full-width" />
    </div>
    <div class="two columns">
      <label for="isbn">ISBN</label>
      <input name="isbn" type="number" class="u-full-width" />
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <label for="publisher">Publisher</label>
      <select name="publisher" class="u-full-width">
        {% for publisher in publishers %}
        <option value="{{ publisher.id }}">{{ publisher.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="five columns">
      <label for="cover">Cover</label>
      <input name="cover" type="text" class="u-full-width" />
    </div>
  </div>
  <label for="description">Description</label>
  <textarea
    name="description"
    type="textarea"
    class="u-full-width"
  ></textarea>
  <div class="row">
  	<div class="offset-by-five two columns">
  		<input class="button" type="submit" value="Submit">
  	</div>
  </div>
</form>
{% endblock %}
