{% extends 'base.html' %}{% block title %}Add Book{% endblock %} {% block content %}
<form METHOD="POST" action="{{ url_for('add_book') }}">
	{{ form.hidden_tag() }}
  <div class="row">
    <div class="six columns">
      {{ form.title.label }}
      {{ form.title(class="u-full-width") }}
    </div>
    <div class="three columns">
      {{ form.author.label }}
      {{ form.author(class="u-full-width") }}
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      {{ form.series.label }}
      {{ form.series(class="u-full-width") }}
    </div>
    <div class="two columns">
      {{ form.series_index.label }}
      {{ form.series_index(class="u-full-width") }}
    </div>
    <div class="two columns">
      {{ form.level.label }}
      {{ form.level(class="u-full-width") }}
    </div>
    <div class="two columns">
      {{ form.wordcount.label }}
      {{ form.wordcount(class="u-full-width") }}
    </div>
    <div class="two columns">
      {{ form.isbn.label }}
      {{ form.isbn(class="u-full-width") }}
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      {{ form.publisher.label }}
      {{ form.publisher(class="u-full-width") }}
    </div>
    <div class="five columns">
      {{ form.cover.label }}
      {{ form.cover(class="u-full-width") }}
    </div>
  </div>
  {{ form.description.label }}
  {{ form.description(class="u-full-width") }}
  <div style="text-align:center;">
		{{ form.submit }}
  </div>
</form>
{% endblock %}
