{% extends 'base.html' %}{% block title %}Add User{% endblock %}{% block content %}
<form METHOD="POST" action="{{ url_for('add_user') }}">
	{{ form.hidden_tag() }}
  <div class="row">
    <div class="four columns">
      {{ form.name.label }}
      {{ form.name(class="u-full-width") }}
    </div>
    <div class="four columns">
      {{ form.username.label }}
      {{ form.username(class="u-full-width") }}
    </div>
    <div class="four columns">
      {{ form.level.label }}
      {{ form.level(class="u-full-width") }}
    </div>
  </div>
  <div class="row">
  	<div class="six columns">
      {{ form.password1.label }}
      {{ form.password1(class="u-full-width") }}
    </div>
    <div class="six columns">
      {{ form.password2.label }}
      {{ form.password2(class="u-full-width") }}
    </div>
  </div>
  <div style="text-align:center;">
    {{ form.submit }}
  </div>
</form>
{% endblock %}
