{% extends 'base.html' %}{% block title %}Update {{ user.username }}{% endblock %}{% block content %}
<form METHOD="POST" action="{{ url_for('update_user', id=user.id) }}">
	{{ form.hidden_tag() }}
  <div class="row">
    <div class="four columns">
      {{ form.name.label }}
      {{ form.name(class="u-full-width", value=user.name) }}
    </div>
    <div class="four columns">
      {{ form.username.label }}
      {{ form.username(class="u-full-width", value=user.username) }}
    </div>
    <div class="four columns">
      {{ form.level.label }}
      {{ form.level(class="u-full-width", value=user.level) }}
    </div>
  </div>
  <div class="row">
  	<div class="offset-by-five two columns">
      {{ form.submit }}
  	</div>
  </div>
</form>
{% endblock %}
