{% extends 'base.html' %}{% block title %}Update {{ book.title }} by {{ book.author.name }}{% endblock %} {% block content %}
<form METHOD="POST" action="{{ url_for('update_book', id=book.id) }}">
	{{ form.hidden_tag() }}
  <div class="row">
    <div class="six columns">
      {{ form.title.label }}
      {{ form.title(class="u-full-width", value=book.title) }}
    </div>
    <div class="three columns">
      {{ form.author.label }}
      {{ form.author(class="u-full-width", value=book.author.name) }}
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      {{ form.series.label }}
      {{ form.series(class="u-full-width", value=book.series.name) }}
    </div>
    <div class="two columns">
      {{ form.series_index.label }}
      {{ form.series_index(class="u-full-width", value=book.series_index) }}
    </div>
    <div class="two columns">
      {{ form.level.label }}
      {{ form.level(class="u-full-width", value=book.level) }}
    </div>
    <div class="two columns">
      {{ form.wordcount.label }}
      {{ form.wordcount(class="u-full-width", value=book.wordcount) }}
    </div>
    <div class="two columns">
      {{ form.isbn.label }}
      {{ form.isbn(class="u-full-width", value=book.isbn) }}
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      {{ form.publisher.label }}
      {{ form.publisher(class="u-full-width", value=book.publisher.name) }}
    </div>
    <div class="five columns">
      {{ form.cover.label }}
      {{ form.cover(class="u-full-width", value=book.cover) }}
    </div>
  </div>
  {{ form.description.label }}
  {{ form.description(class="u-full-width") }}
  <div class="row">
  	<div class="offset-by-five two columns">
  		{{ form.submit }}
  	</div>
  </div>
</form>
{% endblock %}
