<h2>Search Tags</h2>

<%- include('../partials/searchOptions.ejs', { url: "/tags" }) %>

<div class="row">
  <div class="offset-by-one-third one-third column">
    <ul>
      <% tags.forEach(tag => { %>
      <li><a href="/tags/<%= tag.id %>"><%= tag.name %></a></li>
      <% }) %>
    </ul>
  </div>
</div>
