<h2><%= tag.name %></h2>
<%- include('../partials/adminButtons.ejs', { url: `/tags/${tag.id}` }) %> <% if
(books.length > 0) { %>
<h3>Books with Tag</h3>
<%- include('../partials/booksList.ejs') %> <% } %>
