{% extends 'base.html' %} {% block content %}
<div class="row" style="text-align: center;">
	<div class="one-half column" style="margin-top:5%;">
		<i class="fa-solid fa-bug fa-10x"></i>
	</div>
	<div class="one-half column">
		<p style="margin-top:15%;">
			How embarassing, we don't have these often! I am extremely sorry, but there appears to be an internal server error. Now, don't fret! The admins have been notified and will fix it soon. Give us a few minutes.
		</p>
	</div>
</div>
{% endblock %}
