{% extends 'base.html' %}{% block title %}Admin{% endblock %}{% block content %}
<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Level</th>
      <th>Date Added</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users | sort(attribute='id') %}
    <tr>
      <td>
        {{ user.id }}
      </td>
      <td>
        {{ user.name }}
      </td>
      <td>
        {{ user.username }}
      </td>
      <td>
        {{ user.level }}
      </td>
      <td>
      	{{ moment(user.date_added).format('LL') }} ({{ moment(user.date_added).fromNow() }})
      </td>
      <td class="buttons has-addons">
        <a href="{{ url_for('update_user', id=user.id) }}" class="button">
          <span class="icon">
            <i class="fa-solid fa-pencil"></i>
          </span>
        </a>
        <a href="{{ url_for('delete_user', id=user.id) }}" class="button">
          <span class="icon">
            <i class="fa-solid fa-trash"></i>
          </span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
