{% extends 'base.html' %} {% block content %}
<div class="row">
	<div class="offset-by-three one-half column">
		<ul>
			{% for i in astp.items %}
			<li>
				<i class="fa-solid fa-{% if title == 'Authors' %}user{% elif title == 'Series' %}list-ol{% elif title == 'Tags' %}tag{% else %}building{% endif %}"></i>
				<a href="{% if title == 'Authors' %}{{ url_for('author', id=i.id) }}{% elif title == 'Series' %}{{ url_for('serie', id=i.id) }}{% elif title == 'Tags' %}{{ url_for('tag', id=i.id) }}{% else %}{{ url_for('publisher', id=i.id) }}{% endif %}">
					{{ i.name }} ({{ i.books|count }} book{% if i.books|count != 1 %}s{% endif %})
				</a>
			</li>
			{% endfor %}
		</ul>
		<!-- Pagination Links-->
		<div class="row">
			<div class="six columns">
				<strong>Page {{ astp.page }} of {{ astp.pages }}</strong>
			</div>
			<div class="six columns" style="text-align:right;">
				{% if astp.has_prev %}
			  <a href="{% if title == 'Authors' %}{{ url_for('authors', page=astp.prev_num) }}{% elif title == 'Series' %}{{ url_for('series', page=astp.prev_num) }}{% elif title == 'Tags' %}{{ url_for('tags', page=astp.prev_num) }}{% else %}{{ url_for('publishers', page=astp.prev_num) }}{% endif %}" class="button button-primary">
					<i class="fa-solid fa-angles-left"></i>
			  </a>
			  {% endif %}{% if astp.has_next %}
			  <a href="{% if title == 'Authors' %}{{ url_for('authors', page=astp.next_num) }}{% elif title == 'Series' %}{{ url_for('series', page=astp.next_num) }}{% elif title == 'Tags' %}{{ url_for('tags', page=astp.next_num) }}{% else %}{{ url_for('publishers', page=astp.next_num) }}{% endif %}" class="button button-primary">
			  	<i class="fa-solid fa-angles-right"></i>
			  </a>
			  {% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
