{% extends 'base.html' %} {% block title %}Authors{% endblock %} {% block content
%} {% if current_user.id == 1 %}
<div class="mb-5">
    <form METHOD="POST" class="max-w-4xl py-6 mx-auto text-left">
    <div class="grid grid-cols-2 gap-6">
      <div>
        <label for="name">Name</label>
        <input type="text" class="form-field" name="name" />
      </div>
      <div>
        <label for="level">Level</label>
        <select name="level" class="form-field">
          <option value="1">Child</option>
          <option value="2">Teen</option>
          <option value="3">Adult</option>
          <option value="4">Mature</option>
        </select>
      </div>
    </div>
    <div class="flex justify-center mt-6">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
{% endif %}
<div class="columns-xs text-left">
  <ul>
    {% for author in authors | sort(attribute="name") %}{% if author.level <= current_user.level %}
    <li>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
          />
        </svg>
      </span>
      <a href="{{ url_for('authors') }}/{{ author.id }}">{{ author.name }}</a>
    </li>
    {% endif %}{% endfor %}
  </ul>
</div>

{% endblock %}
