<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>Readerporium</title>

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- HTML Meta Tags -->
    <meta
      property="og:url"
      content="https://readerporium.herokuapp.com{% if book %}/books/{{ book.id }}/{% endif %}"
    />
    <meta
      name="title"
      property="og:title"
      content="{% if book %}{{ book.title }} by {{ book.author.name }}{% elif title %}{{ title }}{% else %}Readerporium{% endif %}"
    />
    <meta
      name="description"
      property="og:description"
      content="{% if book %}{% markdown %}{{ book.description | truncate(160) }}{% endmarkdown %}{% else %}Discover. Escape. Live.{% endif %}"
    />
    <meta
      property="og:image"
      content="{% if book %}{{ book.cover }}{% else %}/static/images/logo.png{% endif %}"
    />

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/svg+xml" href="/static/favicon.ico" />

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/skeleton.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />

    <!-- Font Awesome
  -------------------------------------------------- -->
    <link href="/static/fontawesome/css/all.min.css" rel="stylesheet" />

    {{ moment.include_moment() }}
  </head>
  <body>
    <!-- Primary Page Layout
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section class="header">
      <p>Readerporium</p>
      <h1>
        {% if request.path == "/" %}👋 Welcome {{ current_user.name }}! 🥳{%
        elif title or astp %}{{ title or astp.name }}{% elif book %}{{ book.title }}{% else %}{{ tag.name }}{% endif %}
      </h1>
      <p>
        {% if count %}{{ count }} items{% elif book %}{{ book.author.name }}{%
        else %}Discover. Escape. Live.{% endif %}
      </p>
      {% if current_user.is_authenticated %}
      <!-- Navbar
		------------------------------------------------- -->
      <nav role="group">
        <a href="{{ url_for('index') }}" class="button button-primary">
          <i class="fa-solid fa-house fa-lg"></i>
        </a>
        <a href="{{ url_for('books') }}" class="button button-primary">
          <i class="fa-solid fa-book fa-lg"></i>
        </a>
        <a href="{{ url_for('authors') }}" class="button button-primary">
          <i class="fa-solid fa-users fa-lg"></i>
        </a>
        <a href="{{ url_for('series') }}" class="button button-primary">
          <i class="fa-solid fa-list-ol fa-lg"></i>
        </a>
        <a href="{{ url_for('tags') }}" class="button button-primary">
          <i class="fa-solid fa-tags fa-lg"></i>
        </a>
        <a href="{{ url_for('publishers') }}" class="button button-primary">
          <i class="fa-solid fa-building fa-lg"></i>
        </a>
        <a href="{{ url_for('levels') }}" class="button button-primary">
          <i class="fa-solid fa-star fa-lg"></i>
        </a>
        <a href="{{ url_for('logout') }}" class="button button-primary">
          <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
        </a>
        {% if current_user.id == 1 %}
        <hr style="max-width: 25%;">
        <a href="{{ url_for('admin') }}" class="button button-primary">
          <i class="fa-solid fa-user-gear fa-lg"></i>
        </a>
        {% if request.path == "/admin/" %}
        <a href="{{ url_for('add_user') }}" class="button button-primary">
          <i class="fa-solid fa-plus fa-lg"></i>
        </a>
        {% endif %} {% if "/books/" in request.path %}
        <a href="{{ url_for('add_book') }}" class="button button-primary">
          <i class="fa-solid fa-plus fa-lg"></i>
        </a>
        {% if book and book.id %}
        <a href="{{ url_for('update_book', id=book.id) }}" class="button button-primary">
          <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a href="{{ url_for('delete_book', id=book.id) }}" class="button button-primary">
          <i class="fa-solid fa-trash fa-lg"></i>
        </a>
        {% endif %} {% endif %} {% if "/authors/" in request.path %}
        <a href="{{ url_for('add_author') }}" class="button button-primary">
          <i class="fa-solid fa-plus fa-lg"></i>
        </a>
        {% if astp and astp.id %}
        <a href="{{ url_for('update_author', id=astp.id) }}" class="button button-primary">
          <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a href="{{ url_for('delete_author', id=astp.id) }}" class="button button-primary">
          <i class="fa-solid fa-trash fa-lg"></i>
        </a>
        {% endif %} {% endif %} {% if "/series/" in request.path %}
        <a href="{{ url_for('add_series') }}" class="button button-primary">
          <i class="fa-solid fa-plus fa-lg"></i>
        </a>
        {% if astp and astp.id %}
        <a href="{{ url_for('update_series', id=astp.id) }}" class="button button-primary">
          <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a href="{{ url_for('delete_series', id=astp.id) }}" class="button button-primary">
          <i class="fa-solid fa-trash fa-lg"></i>
        </a>
        {% endif %} {% endif %} {% if "/tags/" in request.path %}
        <a href="{{ url_for('add_tag') }}" class="button button-primary">
          <i class="fa-solid fa-plus fa-lg"></i>
        </a>
        {% if tag and tag.id %}
        <a href="{{ url_for('update_tag', id=tag.id) }}" class="button button-primary">
          <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a href="{{ url_for('delete_tag', id=tag.id) }}" class="button button-primary">
          <i class="fa-solid fa-trash fa-lg"></i>
        </a>
        {% endif %} {% endif %} {% if "/publishers/" in request.path %}
        <a href="{{ url_for('add_publisher') }}" class="button button-primary">
          <i class="fa-solid fa-plus fa-lg"></i>
        </a>
        {% if astp and astp.id %}
        <a href="{{ url_for('update_publisher', id=astp.id) }}" class="button button-primary">
          <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <a href="{{ url_for('delete_publisher', id=astp.id) }}" class="button button-primary">
          <i class="fa-solid fa-trash fa-lg"></i>
        </a>
        {% endif %} {% endif %} {% endif %}
      </nav>
      {% endif %}
    </section>

    <!-- Content
		------------------------------------------------ -->
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert" role="alert">
        {{ message }}
      </div>
      {% endfor %} {% if form %}{% for field, errors in form.errors.items() %}
      <div class="alert" role="alert">
        {{ ", ".join(errors) }}
      </div>
      {% endfor %}{% endif %} {% block content %}{% endblock %}
    </div>

    {% if current_user.is_authenticated %}
    <!-- Footer
	  ------------------------------------------------ -->
    <section class="footer">
      <div class="row">
        <div class="four columns">Username: {{ current_user.username }}</div>
        <div class="four columns">
          Level: {{ current_user.level }} ({% if current_user.level == 1
          %}Child{% elif current_user.level == 2 %}Teen{% elif
          current_user.level == 3 %}Adult{% elif current_user.level == 4
          %}Mature{% endif %})
        </div>
        <div class="four columns">
          Added on {{ moment(current_user.date_added).format("LL") }} ({{
            moment(current_user.date_added).fromNow()
          }})
        </div>
      </div>
    </section>
    {% endif %}

    <!-- End Document
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
