{% extends 'base.html' %} {% block content %}
<h2 class="title is-centered">Recently Added</h2>
<div class="columns is-multiline">
  {% for book in books %}
  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-fullwidth">
          <img class="lazy{% if book.level == 4 %} blur{% endif %}" data-src="{% if book.cover %}{{ book.cover }}{% else %}https://via.placeholder.com/300x400?text=Cover{% endif %}" alt="Book cover">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content has-text-centered">
						<p class="title is-4">{{ book.title }}</p>
            <p class="subtitle is-5">{{ book.author.name }}</p>
            {% if book.series.name != "<None>" %}<p class="is-6 has-text-weight-medium is-underlined">{{ book.series.name }} #{{ book.series_index }}</p>{% endif %}
          </div>
        </div>
        <div class="content">
          {{ book.description | truncate(160) | safe }}
          <div class="pt-3 has-text-centered has-text-weight-medium">
            {% for tag in book.tags|sort(attribute='name') %}
            <a href="{{ url_for('tag', id=tag.id) }}">
              <span class="tag is-warning">
                {{ tag.name }}
              </span>
            </a>
            {% endfor %}
            <br>
            Added {{ moment(book.date_created).fromNow() }}
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a href="{{ url_for('book', id=book.id) }}" class="card-footer-item">
          <span class="icon">
            <i class='fa-solid fa-book-open'></i>
          </span>
		  	</a>
        <a href="{{ url_for('author', id=book.author.id) }}" class="card-footer-item">
          <span class="icon">
            <i class='fa-solid fa-user'></i>
          </span>
		  	</a>
        {% if book.series.name != '<None>' %}
        <a href="{{ url_for('serie', id=book.series.id) }}" class="card-footer-item">
          <span class="icon">
            <i class='fa-solid fa-list-ol'></i>
          </span>
		  	</a>
        {% endif %}
      </footer>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
