{% extends 'base.html' %}{% block title %}👋 Welcome {{ current_user.name }}! 🥳{% endblock %} {% block content %}
<h3>Recently Added</h3>
<table class="u-full-width list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td>
      	<a href="{{ url_for('book', id=book.id) }}">
      		<i class='fa-solid fa-book'></i>
		    	{{ book.title }} {% if book.series.name != "<None>" %}({{ book.series.name }} #{{ book.series_index }}){% endif %} by {{ book.author.name }}
		  	</a>
      </td>
      <td>
      	{% for tag in book.tags|sort(attribute='name') %}
		  	<a href="{{ url_for('tag', id=tag.id) }}">
		  		<i class="fa-solid fa-tag"></i>
		  		{{ tag.name }}
		  	</a>
		  	{% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
