{% extends 'base.html' %} {% block title %}Reading Levels & Wordcounts{% endblock %} {% block content %}
<div class="buttons is-centered">
	<a href="{{ url_for('level1') }}" class="button is-warning">
		<span class="icon">
			<i class='fa-solid fa-star'></i>
		</span>
		<span>1</span>
	</a>
	{% if current_user.level >= 2 %}
	<a href="{{ url_for('level2') }}" class="button is-warning">
		<span class="icon">
			<i class='fa-solid fa-star'></i>
		</span>
		<span>2</span>
	</a>
	{% endif %}{% if current_user.level >= 3 %}
	<a href="{{ url_for('level3') }}" class="button is-warning">
		<span class="icon">
			<i class='fa-solid fa-star'></i>
		</span>
		<span>3</span>
	</a>
	{% endif %}{% if current_user.level == 4 %}
	<a href="{{ url_for('level4') }}" class="button is-warning">
		<span class="icon">
			<i class='fa-solid fa-star'></i>
		</span>
		<span>4</span>
	</a>
	{% endif %}
	<a href="{{ url_for('flash_fiction') }}" class="button is-warning">
		<i class='fa-solid fa-hashtag'></i>
		Flash Fiction (< 3.5k words)
	</a>

	<a href="{{ url_for('short_stories') }}" class="button is-warning">
		<i class='fa-solid fa-hashtag'></i>
		Short Stories (3.5k - 7.5k words)
	</a>

	<a href="{{ url_for('novellettes') }}" class="button is-warning">
		<i class='fa-solid fa-hashtag'></i>
		Novellettes (7.5k - 17k words)
	</a>

	<a href="{{ url_for('novellas') }}" class="button is-warning">
		<i class='fa-solid fa-hashtag'></i>
		Novellas (17k - 40k words)
	</a>

	<a href="{{ url_for('novels') }}" class="button is-warning">
		<i class='fa-solid fa-hashtag'></i>
		Novels (> 40k words)
	</a>
</div>
{% endblock %}
