{% extends 'base.html' %} {% block title %}Reading Level: {{ title }}{% endblock %} {% block content %}
<div class="flex justify-center">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-x-auto shadow sm:rounded-lg">
        <table>
          <tbody>
            {% for book in books | sort(attribute="title") %}
            <tr>
              <td>
	              <a href="{{ url_for('books') }}/{{ book.id }}">
					        <i class='fa-solid fa-book'></i>
	              	{{ book.title }} by {{ book.author.name }}
              	</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
