{% extends 'base.html' %} {% block title %}Reading Level: Teen{% endblock %} {%
block content %}{% if current_user.level == 1 or 2 %}
<div class="columns-sm text-left">
  <ul>
    {% for book in books | sort(attribute="title") %}{% if book.level == 2 %}
    <li class="break-inside-avoid">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
          />
        </svg>
      </span>
      <a href="{{ url_for('books') }}/{{ book.id }}">
        {{ book.title }} by {{ book.author.name }} {% if book.series %}<span
          class="text-sm"
          >({{ book.series.name }} #{{ book.series_index }})</span
        >{% endif %}
      </a>
    </li>
    {% endif %}{% endfor %}
  </ul>
</div>
{% else %}
<div class="alert" role="alert">You are not authorized to view this level</div>
{% endif %}
{% endblock %}
