{% extends 'base.html' %} {% block title %}{% if astp %}{{ astp.name }}{% else %}{{ title }}{% endif %}{% if count %} ({{ count }}){% endif %}{% endblock %} {% block content %}
{% if current_user.id == 1 %}
<div role="group" class="btn-group">
	{% if title == 'Books' %}
	<a href="{{ url_for('add_book') }}" class="button">
		<i class="fa-solid fa-plus"></i>
	</a>
	{% endif %}
	{% if author or series or tag or publisher %}
	<a href="{% if author %}{{ url_for('add_author', id=astp.id) }}{% elif series %}{{ url_for('add_series', id=astp.id) }}{% elif tag %}{{ url_for('add_tag', id=astp.id) }}{% elif publisher %}{{ url_for('add_publisher', id=astp.id) }}{% endif %}" class="button">
		<i class="fa-solid fa-plus"></i>
	</a>
	<a href="{% if author %}{{ url_for('update_author', id=astp.id) }}{% elif series %}{{ url_for('update_series', id=astp.id) }}{% elif tag %}{{ url_for('update_tag', id=astp.id) }}{% elif publisher %}{{ url_for('update_publisher', id=astp.id) }}{% endif %}" class="button">
		<i class="fa-solid fa-pencil"></i>
	</a>
	<a href="{% if author %}{{ url_for('delete_author', id=astp.id) }}{% elif series %}{{ url_for('delete_series', id=astp.id) }}{% elif tag %}{{ url_for('delete_tag', id=astp.id) }}{% elif publisher %}{{ url_for('delete_publisher', id=astp.id) }}{% endif %}" class="button">
		<i class="fa-solid fa-trash"></i>
	</a>
	{% endif %}
</div>
{% endif %}
<table class="u-full-width list">
	<thead>
		<tr>
			{% if series %}<th>#</th>{% endif %}
			<th>Title</th>
			<th>Tags</th>
			{% if min or max %}<th>Words</th>{% endif %}
		</tr>
	</thead>
  <tbody>
  	{% for book in books.items %}
		<tr>
			{% if series %}<td style='text-align: center;'>{{ book.series_index }}</td>{% endif %}
		  <td>
		    <a href="{{ url_for('book', id=book.id) }}">
		    	<i class='fa-solid fa-book'></i>
		    	{{ book.title }} {% if not series and book.series.name != '<None>' %}({{ book.series.name }} #{{ book.series_index }}){% endif %} by {{ book.author.name }}
		  	</a>
		  </td>
		  <td>
		  	{% for tag in book.tags|sort(attribute='name') %}
		  	<a href="{{ url_for('tag', id=tag.id) }}">
		  		<i class="fa-solid fa-tag"></i>
		  		{{ tag.name }}
		  	</a>
		  	{% endfor %}
		  </td>
		  {% if min or max %}
		  <td>
		  	<i class="fa-solid fa-hashtag"></i>
		  	{{ book.wordcount }}
		  </td>
		  {% endif %}
		</tr>
		{% endfor %}
		
  </tbody>
</table>
<!-- Pagination Links-->
<table class="u-full-width list list">
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
  <tbody>
		<tr>
			<td>
				Page {{ books.page }} of {{ books.pages }}
			</td>
			<td>
				{% if books.has_prev %}
			  <a href="{{ url_for('books', page=books.prev_num) }}" class="button">
					<i class="fa-solid fa-angles-left"></i>
			  </a>
			  {% endif %}{% if books.has_next %}
			  <a href="{{ url_for('books', page=books.next_num) }}" class="button">
			  	<i class="fa-solid fa-angles-right"></i>
			  </a>
			  {% endif %}
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}