{% extends 'base.html' %} {% block content %}
{% for book in books.items %}
<hr>
<div class="row">
  <div class="one-third column">
    <img src="{% if book.cover %}{{ book.cover }}{% else %}https://via.placeholder.com/300x400?text=Cover{% endif %}" alt="cover"{% if book.level == 4 %} class="blur"{% endif %}>
  </div>
  <div class="one-third column" style="text-align: center;">
    <h3>{{ book.title }}</h3>
		<p>
			<i class="fa-solid fa-user"></i>
			<a href="{{ url_for('author', id=book.author.id) }}">
				View more by {{ book.author.name }}
			</a>
		</p>
		{% if book.series.name != '<None>' %}
		<p>
			<i class="fa-solid fa-list-ol"></i>
			<a href="{{ url_for('serie', id=book.series.id) }}">
				{{ book.series.name }}{% if book.series.name != '<None>' %} #{{ book.series_index }}{% endif %}
			</a>
		</p>
		{% endif %}
		<p>
			{% for tag in book.tags|sort(attribute='name') %}
			<i class="fa-solid fa-tag"></i>
			<a href="{{ url_for('tag', id=tag.id) }}">
				{{ tag.name }}
			</a>
			{% endfor %}
		</p>
		<p>
			<i class="fa-solid fa-star"></i>
			<a href="{{ url_for('levels') }}{{ book.level }}">
				{{ book.level }}
			</a>
		</p>
		<p>
			<a href="{% if book.wordcount <= 3500 %}{{ url_for('flash_fiction') }}{% elif book.wordcount <= 7500  %}{{ url_for('short_stories') }}{% elif book.wordcount <= 17000 %}{{ url_for('novellettes') }}{% elif book.wordcount <= 40000 %}{{ url_for('novellas') }}{% else %}{{ url_for('novels') }}{% endif %}">
				{{ book.wordcount }} words ({% if book.wordcount <= 3500 %}flash fiction{% elif book.wordcount <= 7500  %}short story{% elif book.wordcount <= 17000 %}novellette{% elif book.wordcount <= 40000 %}novella{% else %}novel{% endif %})
			</a>
		</p>
		<p>
			<i class="fa-solid fa-fingerprint"></i>
			{{ book.isbn }}
		</p>
		<p>
			<i class="fa-solid fa-building"></i>
			<a href="{{ url_for('publisher', id=book.publisher.id) }}">
				{{ book.publisher.name }}
			</a>
		</p>
  </div>
  <div class="one-third column">
    {% markdown %}{{ book.description | truncate(400) }}{% endmarkdown %}
		<p style="text-align: right;"><a href="{{ url_for('book', id=book.id) }}">Read More</a></p>
  </div>
</div>
{% endfor %}
<hr>
<!-- Pagination Links-->
<div class="row">
	<div class="six columns">
		<strong>Page {{ books.page }} of {{ books.pages }}</strong>
	</div>
	<div class="six columns" style="text-align:right;">
		{% if books.has_prev %}
	  <a href="{{ url_for('books', page=books.prev_num) }}" class="button button-primary">
			<i class="fa-solid fa-angles-left"></i>
	  </a>
	  {% endif %}{% if books.has_next %}
	  <a href="{{ url_for('books', page=books.next_num) }}" class="button button-primary">
	  	<i class="fa-solid fa-angles-right"></i>
	  </a>
	  {% endif %}
	</div>
</div>
{% endblock %}