{% extends 'base.html' %} {% block content %}
<form method="POST">
  <div class="row">
    <div class="offset-by-four four columns">
      <label for="username">Username</label>
      <input type="text" class="u-full-width" name="username" />
    </div>
  </div>
  <div class="row">
    <div class="offset-by-four four columns">
      <label for="password">Password</label>
      <input type="password" class="u-full-width" name="password" />
    </div>
  </div>
  <div class="row">
    <div class="offset-by-five two columns">
      <input class="button-primary" type="submit" value="Login" />
    </div>
  </div>
</form>
{% endblock %}
