{% extends 'base.html' %} {% block title %}Publishers{% endblock %} {% block
content %} {% if current_user.id == 1 %}
<div class="mb-5">
  <form METHOD="POST" class="max-w-4xl py-6 mx-auto text-left">
    <div class="grid grid-cols-2 gap-6">
      <div>
        <label for="name">Name</label>
        <input type="text" class="form-field" name="name" />
      </div>
      <div>
        <label for="level">Level</label>
        <select name="level" class="form-field">
          <option value="1">Child</option>
          <option value="2">Teen</option>
          <option value="3">Adult</option>
          <option value="4">Mature</option>
        </select>
      </div>
    </div>
    <div class="flex justify-center mt-6">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
{% endif %}
<div class="columns-xs text-left">
  <ul>
    {% for publisher in publishers | sort(attribute="name") %}{% if publisher.level <= current_user.level %}
    <li>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"
          />
        </svg>
      </span>
      <a href="{{ url_for('publishers') }}/{{ publisher.id }}">{{
        publisher.name
      }}</a>
    </li>
    {% endif %}{% endfor %}
  </ul>
</div>

{% endblock %}
