{% extends 'base.html' %} {% block title %}Series{% endblock %} {% block content
%} {% if current_user.id == 1%}
<div class="mb-5">
  <form METHOD="POST" class="max-w-4xl py-6 mx-auto text-left">
    <div class="grid grid-cols-2 gap-6">
      <div>
        <label for="name">Name</label>
        <input type="text" class="form-field" name="name" />
      </div>
      <div>
        <label for="level">Level</label>
        <select name="level" class="form-field">
          <option>1</option>
	        <option>2</option>
	        <option>3</option>
	        <option>4</option>
        </select>
      </div>
    </div>
    <div class="flex justify-center mt-6">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
{% endif %}
<div class="flex justify-center">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-x-auto shadow sm:rounded-lg">
        <table>
          <tbody>
            {% for series in series | sort(attribute="name") %}{% if series.level <= current_user.level %}<tr>
              <td>
	              <a href="{{ url_for('series') }}/{{ series.id }}">
					        <i class='fa-solid fa-list-ol'></i>
	              	{{ series.name }}
              	</a>
              </td>
            </tr>{% endif %}{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
