{% extends 'base.html' %} {% block title %}{{ tag.name }}{% endblock %} {% block content %}
<table class="u-full-width">
	<thead>
		<tr>
			<th>Title</th>
			<th>Tags</th>
		</tr>
	</thead>
  <tbody>
    {% for book in tag.books | sort(attribute='title') %}{% if book.level <= current_user.level %}
    <tr>
      <td>
        <a href="{{ url_for('books') }}/{{ book.id }}">
        	<i class='fa-solid fa-book'></i>
        	{{ book.title }} ({{ book.series.name }} #{{ book.series_index }}) by {{ book.author.name }}
      	</a>
      </td>
      <td>
      	{% for tag in book.tags %}
		  	<a href="{{ url_for('tag', id=tag.id) }}">
		  		<i class="fa-solid fa-tag"></i>
		  		{{ tag.name }}
		  	</a>
		  	{% endfor %}
      </td>
    </tr>
    {% endif %}{% endfor %}
  </tbody>
</table>
{% endblock %}
