{% extends 'base.html' %} {% block title %}Tags{% endblock %} {% block content %}
<div class="row">
	<div class="offset-by-one-third one-third column">
		<table class="u-full-width">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
      <tbody>
        {% for tag in tags.items %}
        <tr>
          <td>
            <a href="{{ url_for('tags') }}/{{ tag.id }}">
            	<i class='fa-solid fa-tag'></i>
	          	{{ tag.name }}
          	</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
		</table>
		<!-- Pagination Links-->
		<div class="u-pull-right">
			{% if tags.has_prev %}
		  <a href="{{ url_for('tags', page=tags.prev_num) }}" class="button">
				<i class="fa-solid fa-angles-left"></i>
		  </a>
		  {% endif %}{% if tags.has_next %}
		  <a href="{{ url_for('tags', page=tags.next_num) }}" class="button">
		  	<i class="fa-solid fa-angles-right"></i>
		  </a>
		  {% endif %}
		</div>
		<p>
			Page {{ tags.page }} of {{ tags.pages }}
		</p>
	</div>
</div>
{% endblock %}
