{% extends 'base.html' %} {% block title %}{{ title }} ({{ min }}—{{ max }} words){% endblock %} {% block content %}
<div class="flex justify-center">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-x-auto shadow sm:rounded-lg">
        <table>
          <thead>
            <tr>
              <th scope="col">
                Title
              </th>
              <th scope="col">
                Author
              </th>
              <th scope="col">
                Series
              </th>
              <th scope="col">
                Tag
              </th>
              <th scope="col">
              	Words
              </th>
            </tr>
          </thead>
          <tbody>
            {% for book in books | sort(attribute="title") %}{% if book.wordcount < min %}{% elif book.wordcount <= max %}
            <tr>
              <td>
	              <a href="{{ url_for('books') }}/{{ book.id }}">
					        <i class='fa-solid fa-book'></i>
	              	{{ book.title }}
              	</a>
              </td>
              <td>
              	<a href="{{ url_for('authors') }}/{{ book.author.id }}">
              		<i class="fa-solid fa-user"></i>
	                {{ book.author.name }}
                </a>
              </td>
              <td>
              	<a href="{{ url_for('series') }}/{{ book.series.id }}">
              		<i class="fa-solid fa-list-ol"></i>
	                {{ book.series.name }} #{{ book.series_index }}
	              </a>
              </td>
              <td>
              	<a href="{{ url_for('tags') }}/{{ book.tag.id }}">
              		<i class="fa-solid fa-tag"></i>
	                {{ book.tag.name }}
                </a>
              </td>
              <td>
              	<i class="fa-solid fa-number"></i>
              	{{ book.wordcount }}
              </td>
            </tr>
            {% endif %}{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
