<h2>Search Authors</h2>

<%- include('../partials/searchOptions.ejs', { url: "/authors" }) %>

<div class="row">
  <div class="offset-by-one-third one-third column">
    <ul>
      <% authors.forEach(author => { %>
      <li><a href="/authors/<%= author.id %>"><%= author.name %></a></li>
      <% }) %>
    </ul>
  </div>
</div>
