<h2><%= author.name %></h2>
<%- include('../partials/adminButtons.ejs', { url: `/authors/${author.id}` }) %>
<% if (books.length > 0) { %>
<h3>Books by Author</h3>
<%- include('../partials/booksList.ejs') %> <% } %>
